
@{
    Layout = "~/Views/Shared/_LayoutNormal.cshtml";
    ViewBag.Title = "ProductDetail";
}

<div class="page-body">
    <section class="product-detail-bg">
        <div class="product-detail">
            <div class="container">
                <div class="product-detail-position">新闻公告<span>></span>店内主题音乐已更新-5月</div>
            </div>
            <div class="container">
                <div class="product-detail-carousel">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="~/Content/img/ordering/product-detail/product-1/p1-d1.jpg" alt="...">
                                <div class="carousel-caption">
                                    sorry can not find this page
                                </div>
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <div class="product-detail-info">
                            <h2>经典摩卡咖啡</h2>
                            <h3>所谓咖啡摩卡，就是那段在办公桌上的午休时光</h3>
                            <p>￥12.00</p>
                            <hr />
                            <span>
                                经典摩卡咖啡现在正在8折优惠中，外送以及堂食都可享受此次优惠<br />
                                ※此商品外送时提供纸杯包装
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="product-detail-property-select">
                            <div class="select-block-container">
                                <div class="select-block">
                                    <div class="select-head">数量</div>
                                    <div class="count-selector">
                                        <input type="text" />
                                        <div id="button-sub"><i class="fa fa-angle-up"></i></div>
                                        <div id="button-add"><i class="fa fa-angle-down"></i></div>
                                    </div>
                                </div>
                                <div class="select-block">
                                    <div class="select-head">属性</div>
                                    <div class="property-group">
                                        <div class="property">
                                            <img src="~/Content/img/discount/property/hot.png" />
                                        </div>
                                        <div class="property">
                                            <img src="~/Content/img/discount/property/ice.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="position-middle-container product-detail-buy-button-group">
                                    <button class="btn btn-primary buy-button position-middle-object">加入购物车</button>
                                </div>  
                            </div>                                                   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

