
@{
    Layout = "~/Views/Shared/_LayoutNormal.cshtml";
    ViewBag.Title = "Intros";
}

<div class="page-body">
    <section class="glass-board">
        <p>一切都源自于，精湛的技艺。</p>
        <div class="black-mask"></div>
        <img src="~/Content/img/intros/coffee-beans-grinde.jpg" />
    </section>
    <section class="intro-block-group">
        <div class="intro-block intro-block-right">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <div class="intro-block-text">
                            <h2>RabbitHouse是什么？</h2>
                            <p>
                                我们能为您带来一个全方位的下午茶解决方案。<br />
                                由对咖啡有深入研究的老板所创立的一家小小茶饮店，提供了以咖啡为主的各类饮品的贩卖，同时各类具有特色的甜品以及注释也在菜单之中。<br />
                                您可以亲自光临本店，亦可在本站点上订购并要求配送。
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="intro-block-img">
                            <div class="rect-outline">
                                <img class="img-responsive" src="~/Content/img/intros/094.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-block intro-block-left">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-push-4">
                        <div class="intro-block-text">
                            <h2>我们在哪里？</h2>
                            <p>
                                在这座宁静小城市的一处街角。<br />
                                远去了现代社会的叨扰，让您能完全浸没在咖啡豆的恬静芳香之中，但或许您也会喜欢我们临窗的河流发出的自然气息？略带甜味的空气飘荡在这附近的小街上。<br />
                                <br />
                                再加上古典风格样式的店内氛围，以及——大家最喜欢的甜点们，<br />
                                而这一切都是为了创造一个绝对完美的下午茶环境。<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-pull-8">
                        <div class="intro-block-img">
                            <div class="rect-outline">
                                <img class="img-responsive" src="~/Content/img/intros/town10.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="composition-block-group">
        <div class="composition-block-text">
            <p>我们致力于全方位的下午茶方案</p>
        </div>
        <div class="variable-block">
            <div class="single-block" id="coffee-block">
                <i class="fa fa-coffee"></i>
                <span class="block-name">coffee</span>
                <span class="block-percentage">40%</span>
            </div>
            <div class="single-block" id="dessert-block">
                <i class="fa fa-cutlery"></i>
                <span class="block-name">dessert</span>
                <span class="block-percentage">30%</span>
            </div>
            <div class="single-block" id="music-block">
                <i class="fa fa-music"></i>
                <span class="block-name">classic music</span>
                <span class="block-percentage">10%</span>
            </div>
            <div class="single-block" id="drink-block">
                <i class="fa fa-beer"></i>
                <span class="block-name">drink</span>
                <span class="block-percentage">20%</span>
            </div>
        </div>
    </section>
    <section>
        <div class="position-middle-container">
            <img class="position-middle-object img-responsive" src="~/Content/img/intros/logo-injection.jpg" />
        </div>
    </section>
</div>

@section scripts{
    <script>
        $('.variable-block').variableBlock();
    </script>
}

